# Foundry
cache/
out/
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/
*.db

# Node
node_modules/
.next/
dist/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
